<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Google Font: Cutive Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {{{body}}}

    <!-- Main JS -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
